@font-face {
    font-family: "Poppins Medium";
    src: local("Poppins Medium"), local("Poppins-Medium"), url("../fonts/poppins-medium-webfont.woff2") format("woff2"), url("../fonts/poppins-medium-webfont.woff") format("woff"), url("../fonts/Poppins-Medium.ttf") format("opentype");
}

@font-face {
    font-family: "Poppins Light";
    src: local("Poppins Light"), local("Poppins-Light"), url("../fonts/poppins-light-webfont.woff2") format("woff2"), url("../fonts/poppins-light-webfont.woff") format("woff"), url("../fonts/Poppins-Light.ttf") format("opentype");
}

@font-face {
    font-family: "Poppins SemiBold";
    src: local("Poppins Semibold"), local("Poppins-Semi-Bold"), url("../fonts/poppins-semibold-webfont.woff2") format("woff2"), url("../fonts/poppins-semibold-webfont.woff") format("woff"), url("../fonts/Poppins-SemiBold.ttf") format("opentype");
}

@font-face {
    font-family: "Poppins Bold";
    src: local("Poppins Bold"), local("Poppins-Bold"), url("../fonts/poppins-bold-webfont.woff2") format("woff2"), url("../fonts/poppins-bold-webfont.woff") format("woff"), url("../fonts/Poppins-Bold.ttf") format("opentype");
}

@font-face {
    font-family: "Lato Regular";
    src: local("Lato Regular"), local("Lato-Regular"), url("../fonts/lato-regular-webfont.woff2") format("woff2"), url("../fonts/lato-regular-webfont.woff") format("woff"), url("../fonts/Lato-Regular.ttf") format("opentype");
}

@font-face {
    font-family: "Lato Italic";
    src: local("Lato Italic"), local("Lato-Italic"), url("../fonts/lato-italic-webfont.woff2") format("woff2"), url("../fonts/lato-italic-webfont.woff") format("woff"), url("../fonts/Lato-Italic.ttf") format("opentype");
}

@font-face {
    font-family: "Poppins Regular";
    src: local("Poppins Regular"), local("Poppins-Regular"), url("../fonts/lato-regular-webfont.woff2") format("woff2"), url("../fonts/poppins-bold-webfont.woff") format("woff"), url("../fonts/Poppins-Regular.ttf") format("opentype");
}

@font-face {
    font-family: "Droid Serif Italic";
    src: local("Droid Serif Italic"), url("../fonts/droid-serif-italic.woff2") format("woff2"), url("../fonts/lato-italic-webfont.woff") format("woff"), url("../fonts/droid-serif-italic.ttf") format("opentype");
}