$footer-color: #333;
$text-color: #bbb;
.wr-subscribe {
    background-color: #181818;
    border-bottom: solid 2px $footer-color;
    .custom-container {
        display: flex;
    }
    .wr-logo {
        padding: 22px 0;
        position: relative;
        width: 60px;
        object-fit: contain;
        @media all and (max-width: 484px) {
            display: none;
        }
        img {
            width: 100%;
        }
        .logo {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
        }
    }
}

.wr-contact-form {
    margin-left: 18%;
    border-left: solid 2px $footer-color;
    display: flex;
    padding: 22px 0;
    @media all and (max-width: 1120px) {
        margin-left: 10%;
    }
    @media all and (max-width: 1025px) {
        margin-left: 5%;
    }
    @media all and (max-width: 484px) {
        margin: 0;
        border: none;
    }
    .wr-contact-form-text {
        height: 100%;
        padding: 0 45px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        @media all and (max-width: 1190px) {
            padding-right: 0px;
        }
        @media all and (max-width: 484px) {
            padding: 0;
        }
        h6 {
            font-size: 16px;
            color: #fff;
            text-transform: uppercase;
            margin-bottom: 14px;
        }
        p {
            font-family: "Lato Italic", serif;
            font-size: 13px;
            color: $text-color;
            white-space: nowrap;
        }
    }
    form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-left: 27%;
        position: relative;
        right: 0;
        @media all and (max-width: 484px) {
            padding: 0;
        }
        input {
            width: 355px;
            height: 49px;
            box-sizing: border-box;
            padding-left: 20px;
            border-radius: 25px;
            border: none;
            background-color: $footer-color;
            color: #fff;
            &::placeholder {
                font-family: "Lato Regular", sans-serif;
                font-size: 13px;
                color: $text-color;
            }
            &:focus {
                outline: none;
                border: 1px solid #676767;
            }
        }
        button {
            width: 140px;
            height: 50px;
            background-color: $main-color;
            font-family: "Poppins SemiBold", sans-serif;
            font-size: 12px;
            text-transform: uppercase;
            color: #fff;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
            border-radius: 25px;
            position: absolute;
            top: 50%;
            transform: translate(0, -50%);
            right: -55px;
            transition-delay: 0.2s;
            &:hover {
                background-color: $link-color;
            }
        }
    }
}

.wr-other-details {
    background-color: $footer-color;
    .custom-container {
        padding-top: 56px;
        padding-bottom: 30px;
        display: flex;
        justify-content: space-between;
    }
    h6 {
        font-size: 14px;
        color: #fff;
        margin-bottom: 20px;
    }
    p {
        font-size: 13px;
        margin-bottom: 16px;
        color: $text-color;
    }
    a {
        font-family: "Lato Regular", sans-serif;
        font-size: 13px;
        color: $text-color;
        &:hover {
            color: #fff;
        }
    }
    .wr-contact-us {
        display: flex;
        flex-direction: column;
        max-width: 220px;
        p {
            line-height: 24px;
        }
        a {
            margin-bottom: 24px;
        }
    }
    .socials-box {
        display: flex;
        a {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-right: 7px;
            width: 40px;
            height: 40px;
            border-radius: 50%;
            transition-duration: .3s;
            &:hover {
                transform: scale(1.15);
            }
            svg {
                fill: #fff;
                height: 13px;
            }
        }
    }
    .facebook {
        background-color: #365493;
        svg {
            width: 6px;
        }
    }
    .twitter {
        background-color: #33ccff;
        svg {
            width: 12px;
        }
    }
    .g-plus {
        background-color: #d44132;
        svg {
            width: 16px;
        }
    }
    .pinterest {
        background-color: #cb2027;
        svg {
            width: 11px;
        }
    }
    .wr-useful-links {
        display: flex;
        flex-direction: column;
        ul {
            margin: 0;
            padding: 0;
        }
        li {
            margin-bottom: 6px;
        }
    }
    .wr-working-day {
        display: flex;
        svg {
            width: 5px;
            height: 14px;
            fill: $text-color;
            margin-right: 32px;
        }
        p:nth-child(1) {
            width: 75px;
            margin-right: 45px;
        }
    }
    .wr-location {
        iframe {
            width: 270px;
            height: 170px;
            border: none;
            border-radius: 5px;
        }
    }
}

@media all and (max-width: 569px) {
    form {
        input {
            max-width: 280px;
            min-height: 49px;
        }
        button {
            max-width: 120px;
        }
    }
}

@media all and (max-width: 355px) {
    form {
        input {
            max-width: 230px;
        }
        button {
            max-width: 100px;
        }
    }
}