$footer-color: #333;
$text-color: #bbb;
.wr-subscribe {
    background-color: #181818;
    border-bottom: solid 2px $footer-color;
    .custom-container {
        display: flex;
        justify-content: space-between;
    }
    .wr-logo {
        padding: 22px 0;
        position: relative;
        width: 60px;
        object-fit: contain;
        @media all and (max-width: 1005px) {
            padding-right: 15px;
        }
        @media all and (max-width: 484px) {
            display: none;
        }
        img {
            width: 100%;
        }
        .logo {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
        }
    }
}

.wr-contact-form {
    max-width: 857px;
    width: 100%;
    border-left: solid 2px $footer-color;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 22px 0 22px 45px;
    @media all and (max-width: 484px) {
        border: none;
    }
    .wr-contact-form-text {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        h6 {
            font-size: 16px;
            color: #fff;
            text-transform: uppercase;
            margin-bottom: 14px;
        }
        p {
            font-family: "Lato Italic", serif;
            font-size: 13px;
            color: $text-color;
            white-space: nowrap;
        }
    }
    .input-box {
        position: relative;
        width: 412px;
        height: 50px;
        box-sizing: border-box;
        overflow: hidden;
        border-radius: 25px;
        color: #fff;
    }
    input {
        width: 100%;
        height: 100%;
        border: none;
        background-color: $footer-color;
        padding-left: 20px;
        box-sizing: border-box;
        &::placeholder {
            font-family: "Lato Regular", sans-serif;
            font-size: 13px;
            color: $text-color;
        }
        &:focus {
            outline: none;
            background-color: #5a5a5a;
        }
        @media all and (max-width: 569px) {
            padding-left: 10px;
        }
    }
    button {
        width: 140px;
        height: 100%;
        box-sizing: border-box;
        background-color: $main-color;
        font-family: "Poppins SemiBold", sans-serif;
        font-size: 12px;
        text-transform: uppercase;
        color: #fff;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        border-radius: 25px;
        position: absolute;
        top: 0;
        right: 0;
        transition-delay: 0.2s;
        &:hover {
            background-color: $link-color;
        }
    }
}

.wr-other-details {
    background-color: $footer-color;
    .custom-container {
        padding-top: 56px;
        padding-bottom: 30px;
        display: flex;
        justify-content: space-between;
    }
    h6 {
        font-size: 14px;
        color: #fff;
        margin-bottom: 20px;
    }
    p {
        font-size: 13px;
        color: $text-color;
    }
    a {
        font-family: "Lato Regular", sans-serif;
        font-size: 13px;
        color: $text-color;
        &:hover {
            color: #fff;
        }
    }
    .wr-contact-us {
        display: flex;
        flex-direction: column;
        max-width: 220px;
        padding-bottom: 15px;
        p {
            line-height: 24px;
            margin-bottom: 16px;
        }
        .clickable-contact {
            margin-bottom: 24px;
        }
    }
    .socials-box {
        display: flex;
        width: 185px;
        justify-content: space-between;
        a {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 40px;
            height: 40px;
            border-radius: 50%;
            transition-duration: .3s;
            &:hover {
                transform: scale(1.15);
            }
            svg {
                fill: #fff;
                height: 13px;
            }
        }
    }
    .facebook {
        background-color: #365493;
        svg {
            width: 6px;
        }
    }
    .twitter {
        background-color: #33ccff;
        svg {
            width: 12px;
        }
    }
    .g-plus {
        background-color: #d44132;
        svg {
            width: 16px;
        }
    }
    .pinterest {
        background-color: #cb2027;
        svg {
            width: 11px;
        }
    }
    .wr-useful-links {
        display: flex;
        flex-direction: column;
        ul {
            margin: 0;
            padding: 0;
        }
        li {
            margin-bottom: 6px;
        }
    }
    .wr-working-day {
        display: flex;
        margin-bottom: 16px;
        svg {
            width: 5px;
            height: 14px;
            fill: $text-color;
            margin-right: 32px;
        }
        p:nth-child(1) {
            width: 75px;
            margin-right: 45px;
        }
    }
    .wr-location {
        iframe {
            width: 270px;
            height: 170px;
            border: none;
            border-radius: 5px;
        }
    }
}

@media all and (max-width: 569px) {
    .wr-contact-form {
        form {
            width: 100%;
            .input-box {
                width: 100%;
                height: 40px;
            }
            button {
                width: 120px;
            }
        }
    }
}

@media all and (max-width: 355px) {
    .wr-contact-form {
        form {
            button {
                width: 100px;
            }
        }
    }
}