$main-color: #7492ec;
$link-color: #99aade;
ul {
    list-style: none;
}

a {
    text-decoration: none;
}

button {
    cursor: pointer;
    border: none;
    background-color: transparent;
}

button.promo-btn {
    text-transform: uppercase;
    font-family: "Poppins Regular", sans-serif;
    font-size: 12px;
    font-weight: 600;
    color: #fff;
    background-color: $main-color;
    border-radius: 25px;
    height: 40px;
    &:hover {
        background-color: $link-color;
        transition: 0.2s ease;
    }
}

button:active,
button:focus {
    outline: none;
}

.custom-container {
    width: 1200px;
    padding: 0px 15px;
    margin: 0 auto;
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h6,
p {
    margin: 0px;
}

h3 {
    font-family: "Poppins Light", sans-serif;
    font-weight: 100;
}

h6 {
    font-family: "Poppins SemiBold", sans-serif;
}

.img-container {
    object-fit: contain;
    overflow: hidden;
    border-radius: 5px;
}