@import "normalize";
@import "settings";
@import "fonts";
@import "header";
@import "footer";
.wr-introduction {
    height: 100vh;
    background: url("../media/img/top-background.png") no-repeat;
    background-size: cover;
    background-position: bottom;
    @media all and (max-width: 1024px), all and (orientation: portrait) {
        height: 600px;
    }
    @media all and (max-width: 600px),
    all and (orientation: portrait) {
        height: 450px;
    }
    @media all and (max-width: 375px) {
        height: 400px;
    }
}

.wr-slogan {
    padding-top: 15vh;
    @media all and (max-width: 1700px) {
        padding-top: 5vh;
    }
    @media all and (max-width: 1200px) {
        margin-right: 5%;
    }
    @media all and (max-width: 768px) {
        padding-top: 30vh;
    }
    @media all and (max-width: 600px),
    all and (orientation: portrait) {
        padding-top: 20vh;
    }
    h2 {
        font-family: "Poppins Light", sans-serif;
        font-size: 72px;
        font-weight: 100;
        color: #6a8eec;
        text-align: right;
        margin-top: 0px;
        margin-bottom: 17px;
        @media all and (max-width: 1200px) {
            font-size: 48px;
        }
        @media all and (max-width: 650px) {
            font-size: 36px;
        }
        @media all and (max-width: 500px) {
            font-size: 30px;
        }
        @media all and (max-width: 375px) {
            font-size: 25px;
        }
    }
    h2.first-slogan {
        margin-right: 63px;
        @media all and (max-width: 650px) {
            margin-right: 0;
        }
    }
    h2.second-slogan {
        margin-right: -7px;
    }
}

.wr-about-yoga {
    background: url("../media/img/bg-object.png") no-repeat;
    background-position: right -5px;
    background-size: contain;
    padding-top: 30px;
    padding-bottom: 48px;
    position: relative;
    top: -73px;
    .custom-container {
        display: flex;
        justify-content: space-between;
    }
}

.wr-description {
    max-width: 570px;
    padding-top: 142px;
    h1 {
        font-family: "Poppins Light", sans-serif;
        font-size: 48px;
        color: $main-color;
        font-weight: 100;
        margin-bottom: 8px;
        @media all and (max-width: 413px) {
            font-size: 36px;
        }
    }
    p {
        font-size: 14px;
        line-height: 24px;
        padding-right: 3px;
        margin-bottom: 42px;
    }
}

.video-container {
    width: 570px;
    height: 350px;
    border: solid 1px transparent;
    border-radius: 12px;
    overflow: hidden;
    box-sizing: border-box;
    position: relative;
    @media all and (max-width: 580px) {
        width: 100%;
    }
    &:hover .controls {
        bottom: 0;
        transition-duration: 0.4s;
    }
    video {
        height: 100%;
        width: 100%;
    }
    video[poster] {
        object-fit: cover;
    }
    .play-btn-main {
        height: 50px;
        width: 50px;
        background-image: url("../media/img/play-btn.png");
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .play-btn-main::after {
        content: "";
        height: 50px;
        width: 50px;
        border: solid 7px;
        border-color: rgba(255, 255, 255, 0.5);
        border-radius: 50%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        opacity: 0;
        transition-duration: 0.4s;
    }
    .play-btn-main:hover::after {
        opacity: 1;
        cursor: pointer;
    }
    .button-main-hidden {
        display: none;
    }
    .controls {
        position: absolute;
        left: 0;
        bottom: -30px;
        width: 100%;
        height: 30px;
        background-color: rgba($color: #000000, $alpha: 0.3);
        transition-duration: 0.4s;
        button {
            height: 18px;
            width: 23px;
            background-repeat: no-repeat;
            background-size: contain;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
        }
    }
    .playpause {
        background-image: url("../media/img/play.png");
        left: 20px;
    }
    .play {
        background-image: url("../media/img/play.png");
        left: 20px;
    }
    .pause {
        background-image: url("../media/img/pause.png");
        left: 20px;
    }
    .sound-on {
        background-image: url("../media/img/volume.png");
        right: 20px;
    }
    .sound-off {
        background-image: url("../media/img/mute.png");
        right: 20px;
    }
    progress {
        cursor: pointer;
        appearance: none;
        border: 1px solid #999;
        border-radius: 4px;
        width: 450px;
        height: 12px;
        background-size: auto;
        color: #7492ec;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 54px;
        @media all and (max-width: 580px) {
            width: 65%;
        }
    }
    progress::-webkit-progress-bar {
        background: transparent;
    }
    progress::-moz-progress-bar {
        background: $main-color;
    }
    progress::-webkit-progress-value {
        background: $main-color;
    }
}

.icon-container {
    min-width: 70px;
    min-height: 70px;
    border: 2px solid $main-color;
    box-sizing: border-box;
    border-radius: 50%;
    margin-right: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.benefit-description-box {
    max-width: 374px;
    p {
        font-size: 14px;
        line-height: 24px;
    }
    h4 {
        font-family: "Poppins Medium", sans-serif;
        font-size: 18px;
        font-weight: 400;
        margin-bottom: 12px;
    }
}

.benefit-item-box {
    display: flex;
    margin-bottom: 52px;
    align-items: center;
}

.wr-practices {
    background-image: url("../media/img/bg-classes.png");
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    color: $main-color;
    .custom-container {
        padding-top: 115px;
        padding-bottom: 115px;
        background-image: url("../media/img/bg-classes-object.png");
        background-repeat: no-repeat;
        background-position: top;
    }
    h3 {
        font-size: 48px;
        color: $main-color;
        margin-bottom: 8px;
        text-align: center;
        margin-bottom: 66px;
    }
    .swiper-container {
        width: 100%;
    }
    .wr-slider {
        position: relative;
    }
    p {
        font-size: 13px;
        color: #999;
    }
    .swiper-slide {
        width: 270px;
        .img-container {
            margin-bottom: 30px;
            position: relative;
            height: 200px;
            width: 100%;
        }
        img {
            height: 100%;
            width: 100%;
            object-fit: cover;
            object-position: top;
        }
        .img-container::before {
            background-color: rgba(116, 146, 236, 0.4);
            content: "";
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            opacity: 0;
            transition-duration: 0.5s;
        }
        &:hover .img-container::before {
            opacity: 1;
        }
    }
}

.practice-name {
    &:hover h5 {
        color: $main-color;
    }
    h5 {
        font-family: "Poppins Medium", sans-serif;
        font-size: 18px;
        font-weight: 200;
        color: $link-color;
        line-height: 23px;
        height: 46px;
        overflow: hidden;
        text-overflow: ellipsis;
        margin-bottom: 13px;
    }
}

.practice-description {
    font-size: 14PX;
    color: #666;
    line-height: 24px;
}

.detailes {
    display: flex;
    align-items: center;
    margin-bottom: 14px;
    svg {
        margin-right: 12px;
    }
}

.clock {
    width: 12px;
    height: 12px;
    fill: $main-color;
}

.teacher {
    width: 12px;
    height: 14px;
    fill: $main-color;
}

.level {
    width: 12px;
    height: 13px;
    fill: $main-color;
}

.btn-left,
.btn-right {
    width: 9px;
    height: 14px;
    fill: $main-color;
}

.swiper-button-right {
    position: absolute;
    top: 20%;
    right: -3%;
    cursor: pointer;
}

.swiper-button-left {
    position: absolute;
    top: 20%;
    left: -3%;
    cursor: pointer;
}

.swiper-button-right:active,
.swiper-button-right:focus,
.swiper-button-left:active,
.swiper-button-left:focus {
    outline: none;
}

.wr-access {
    padding-top: 116px;
    padding-bottom: 120px;
    .custom-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    h3 {
        font-size: 32px;
        color: #000000;
        margin-bottom: 19px;
    }
    p {
        max-width: 450px;
        line-height: 24px;
        font-size: 14px;
        color: #666;
        text-align: center;
        margin-bottom: 47px;
    }
    button {
        width: 300px;
        margin-bottom: 80px;
    }
}

.wr-access-img {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 270px);
    gap: 30px;
    .img-container {
        position: relative;
        &:nth-child(4) {
            grid-column-start: 1;
            grid-column-end: 3;
        }
        &:hover img {
            transform: scale(1.07);
        }
        a {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            &::before {
                content: "";
                background-color: rgba(116, 146, 236, 0.73);
                background-image: url(../media/img/zoom.png);
                background-repeat: no-repeat;
                background-position: center;
                background-size: 35px;
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                opacity: 0;
            }
        }
        &:hover a::before {
            opacity: 1;
            transition-duration: 0.6s;
        }
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            transition-duration: 0.8s;
        }
    }
}

.wr-teacher-introduction {
    background-image: url("../media/img/bg-teacher.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    .custom-container {
        padding-top: 138px;
        padding-bottom: 105px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    h3 {
        font-size: 32px;
        color: #fff;
        text-transform: capitalize;
        margin-bottom: 20px;
    }
    p {
        max-width: 545px;
        line-height: 24px;
        font-size: 14px;
        color: #fff;
        text-align: center;
        margin-bottom: 53px;
    }
    span {
        font-family: "Poppins Medium", serif;
        font-size: 14px;
        text-transform: capitalize;
        color: #fff;
        margin-bottom: 20px;
    }
}

.wr-teacher-list {
    .custom-container {
        display: flex;
        padding-top: 120px;
        padding-bottom: 60px;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .teacher-item-box {
        display: flex;
        margin-bottom: 60px;
    }
    .info-container {
        width: 170px;
        padding-top: 16px;
        a {
            display: block;
            font-family: "Poppins SemiBold", sans-serif;
            font-size: 16px;
            margin-bottom: 6px;
            color: #000000;
            transition-duration: 0.2s;
            &:hover {
                color: rgb(126, 126, 126);
            }
        }
        p {
            font-size: 14px;
        }
        a,
        p {
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
        }
    }
    .img-container {
        width: 80px;
        height: 80px;
        border-radius: 50%;
        margin-right: 20px;
        position: relative;
    }
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: top;
    }
}

.wr-renewal {
    background-color: #f8f7fc;
    position: relative;
    .wr-renewal-description {
        margin-left: 16%;
        padding-top: 241px;
        padding-bottom: 194px;
        h3 {
            font-size: 48px;
            color: $main-color;
            margin-bottom: 4px;
        }
        p {
            max-width: 455px;
            font-size: 21px;
            line-height: 36px;
            color: $main-color;
            margin-bottom: 40px;
        }
        button {
            width: 213px;
        }
    }
    .wr-picture {
        height: 746px;
        position: absolute;
        bottom: 0;
        right: 15%;
        @media all and (max-width: 1120px) {
            right: 10px;
        }
        img {
            height: 100%;
            object-fit: contain;
        }
    }
}

.wr-companies-list {
    padding-top: 78px;
    padding-bottom: 78px;
    .swiper-slide {
        width: 105px;
        height: 80px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
    }
    a {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
    }
}

.wr-about-intro {
    background: url("../media/img/about-us-background.png");
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
    .custom-container {
        padding-top: 140px;
        padding-bottom: 122px;
    }
    h3 {
        font-size: 72px;
        color: $main-color;
        margin-bottom: 12px;
        @media all and (max-width: 645px) {
            font-size: 50px;
            text-align: left;
        }
        @media all and (max-width: 545px) {
            font-size: 40px;
        }
    }
    p {
        font-size: 14px;
        color: $link-color;
        padding-left: 5px;
    }
}

.wr-about-information {
    position: relative;
    top: -40px;
    .custom-container {
        display: flex;
        justify-content: space-between;
        padding-bottom: 46px;
        @media all and (max-width: 745px) {
            flex-direction: column-reverse;
            align-items: center;
            padding-bottom: 0;
        }
    }
    .about-description {
        width: 525px;
        padding-top: 165px;
        @media all and (max-width: 1050px) {
            width: 450px;
            padding-top: 85px;
        }
        @media all and (max-width: 745px) {
            padding-top: 45px;
        }
        @media all and (max-width: 480px) {
            width: 100%;
        }
    }
    p {
        color: #666;
        font-size: 14px;
        line-height: 24px;
        &:nth-child(1) {
            margin-bottom: 25px;
        }
    }
    .img-container {
        width: 555px;
        height: 520px;
        background-image: url("../media/img/about-description-bg.jpg");
        background-repeat: no-repeat;
        background-size: contain;
        background-position: bottom;
        @media all and (max-width: 975px) {
            width: 450px;
            height: 420px;
        }
        @media all and (max-width: 895px) {
            width: 350px;
        }
        @media all and (max-width: 360px) {
            width: 100%;
        }
        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
            object-position: bottom;
        }
    }
}

.wr-quote {
    position: relative;
    z-index: -10;
    background-image: url("../media/img/quote-bg.jpg");
    background-repeat: no-repeat;
    background-position: center;
    .custom-container {
        padding-top: 165px;
        padding-bottom: 102px;
        display: flex;
        flex-direction: column;
        align-items: center;
        color: #fff;
    }
    h4 {
        font-family: "Droid Serif Italic", serif;
        font-size: 24px;
        font-weight: 100;
        text-align: center;
        white-space: pre-wrap;
        max-width: 630px;
        margin-bottom: 47px;
        line-height: 35px;
    }
    p {
        font-family: "Poppins Medium", sans-serif;
        font-size: 14px;
    }
}

.wr-quote::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(116, 146, 236, .8);
    z-index: -10;
}

.wr-training-types {
    .custom-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        background-image: url("../media/img/training-types-bg.png");
        background-repeat: no-repeat;
        background-position: top center;
        padding-top: 120px;
        padding-bottom: 113px;
        @media all and (max-width: 768px) {
            padding-bottom: 0px;
        }
    }
}

.training-type {
    width: 30%;
    @media all and (max-width: 950px) {
        width: 45%;
        margin-bottom: 50px;
    }
    @media all and (max-width: 650px) {
        width: 90%;
    }
    @media all and (max-width: 450px) {
        width: 100%;
    }
    .img-container {
        width: 100%;
        height: 270px;
        margin-bottom: 34px;
        position: relative;
    }
    .img-container::before {
        background-color: rgba(116, 146, 236, 0.4);
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        opacity: 0;
        transition-duration: 0.5s;
    }
    &:hover .img-container::before {
        opacity: 1;
    }
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    h5 {
        font-family: "Poppins Medium", sans-serif;
        font-size: 18px;
        font-weight: 200;
        color: $link-color;
        margin-bottom: 15px;
        &:hover {
            color: $main-color;
        }
    }
    p {
        font-size: 14px;
        color: #666;
        line-height: 24px;
    }
}

.wr-features {
    background-color: #e5eaf7;
    .custom-container {
        padding-top: 125px;
        padding-bottom: 120px;
        display: flex;
        flex-direction: column;
        align-items: center;
        @media all and (max-width: 768px) {
            padding-top: 60px;
            padding-bottom: 60px;
        }
    }
    .swiper-container {
        width: 600px;
        text-align: center;
        margin-bottom: 77px;
        @media all and (max-width: 625px) {
            width: 100%;
        }
        .swiper-slide {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;
            margin-bottom: 31px;
        }
        h5 {
            font-family: "Poppins SemiBold", sans-serif;
            font-size: 16px;
            color: $main-color;
            margin-bottom: 10px;
        }
        p {
            font-size: 16px;
            color: $link-color;
            margin-bottom: 23px;
            line-height: 24px;
        }
        .quote-author {
            font-size: 12px;
        }
        h6 {
            font-size: 14px;
            color: $main-color;
        }
        picture {
            width: 60px;
            height: 60px;
            display: block;
            border-radius: 50%;
            overflow: hidden;
            margin-bottom: 20px;
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: top;
            }
        }
    }
    .counter-box {
        width: 100%;
        display: flex;
        justify-content: space-between;
        text-align: center;
        .counter {
            font-family: "Droid Serif Regular", serif;
            font-size: 42px;
            color: $main-color;
            @media all and (max-width: 768px) {
                font-size: 32px;
            }
            @media all and (max-width: 360px) {
                font-size: 20px;
            }
            @media all and (max-width: 340px) {
                font-size: 18px;
            }
        }
        p {
            font-size: 14px;
            color: $link-color;
            margin-top: 11px;
            @media all and (max-width: 360px) {
                font-size: 10px;
            }
            @media all and (max-width: 340px) {
                font-size: 8px;
            }
        }
    }
}

.wr-promo-access {
    padding-top: 116px;
    padding-bottom: 35px;
    @media all and (max-width: 768px) {
        padding-top: 60px;
    }
    .custom-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    h3 {
        font-size: 32px;
        color: #000000;
        margin-bottom: 19px;
    }
    p {
        max-width: 450px;
        line-height: 24px;
        font-size: 14px;
        color: #666;
        text-align: center;
        margin-bottom: 47px;
    }
    button {
        width: 300px;
        margin-bottom: 80px;
    }
}

@media all and (max-width: 1250px) {
    .wr-access-img {
        grid-gap: 15px;
    }
    .wr-practices .swiper-button-right {
        right: 3px;
        z-index: 10;
    }
    .swiper-button-left {
        left: 3px;
        z-index: 10;
    }
}

@media all and (max-width: 1190px) {
    .wr-access-img {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 270px);
        .img-container:nth-child(5) {
            grid-row: 2;
            grid-column: 2;
        }
    }
}

@media all and (max-width: 585px) {
    .wr-access-img {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(5, 270px);
        .img-container:nth-child(4) {
            grid-row: 5;
            grid-column: 1;
        }
        .img-container:nth-child(5) {
            grid-column: 1;
        }
    }
}

@media all and (max-width: 1075px) {
    .wr-about-yoga {
        top: 0;
        .custom-container {
            flex-direction: column;
            align-items: center;
        }
    }
    .wr-description {
        padding-top: 0px;
        margin-bottom: 40px;
    }
    .benefit-item-box {
        margin-bottom: 20px;
    }
}

@media all and (max-width: 969px) {
    .wr-contact-form {
        flex-direction: column;
        align-items: flex-start;
        padding-left: 10px;
        .wr-contact-form-text {
            margin-bottom: 20px;
        }
        form {
            margin-left: 0;
            padding-left: 0;
        }
    }
    .wr-other-details .custom-container {
        flex-wrap: wrap;
    }
    .wr-contact-us,
    .wr-useful-links,
    .wr-open-hours,
    .wr-location {
        width: 50%;
    }
}

@media all and (max-width: 900px) {
    .wr-renewal {
        .custom-container {
            text-align: center;
        }
        .wr-picture {
            display: none;
        }
        .wr-renewal-description {
            padding-top: 80px;
            padding-bottom: 80px;
            margin: 0;
            h3 {
                font-size: 36px;
            }
            p {
                font-size: 16px;
            }
        }
    }
}

@media all and (max-width: 640px) {
    h3 {
        text-align: center;
    }
}

@media all and (max-width: 575px) {
    .wr-contact-us,
    .wr-useful-links,
    .wr-open-hours,
    .wr-location {
        width: 100%;
        margin-bottom: 20px;
    }
    .wr-location iframe {
        min-width: 100%;
    }
}