@import "normalize";
@import "settings";
@import "fonts";
@import "header";
@import "footer";
.preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #f1f3f8;
    z-index: 100;
    &__body {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%);
        width: 50px;
        height: 50px;
        span {
            border: 0;
            margin: 0;
            width: 40%;
            height: 40%;
            position: absolute;
            border-radius: 50%;
            animation: spin 2s ease infinite;
            &:first-child {
                background: #7492ec;
                animation-delay: -1.5s;
            }
            &:nth-child(2) {
                background: #6983d2;
                animation-delay: -1s;
            }
            &:nth-child(3) {
                background: #99aade;
                animation-delay: -0.5s;
            }
            &:last-child {
                background: #99aff1;
            }
        }
    }
}

@keyframes spin {
    0%,
    100% {
        transform: translate(0)
    }
    25% {
        transform: translate(160%)
    }
    50% {
        transform: translate(160%, 160%)
    }
    75% {
        transform: translate(0, 160%)
    }
}

.loaded {
    display: none;
}

.wr-introduction {
    height: 100vh;
    background: url("../media/img/top-background.png") no-repeat;
    background-size: cover;
    background-position: bottom;
    @media all and (max-width: 1024px) and (orientation: portrait) {
        height: 680px;
    }
    @media all and (max-width: 600px) and (orientation: portrait) {
        height: 450px;
    }
    @media all and (max-width: 375px) {
        height: 400px;
    }
}

.wr-slogan {
    padding-top: 15vh;
    @media all and (max-width: 1700px) {
        padding-top: 5vh;
    }
    @media all and (max-width: 1200px) {
        margin-right: 5%;
    }
    @media all and (max-width: 854px) {
        padding-top: 30vh;
    }
    @media all and (max-width: 600px) and (orientation: portrait) {
        padding-top: 20vh;
    }
    h2 {
        font-family: "Poppins Light", sans-serif;
        font-size: 72px;
        font-weight: 100;
        color: #6a8eec;
        text-align: right;
        margin-top: 0px;
        margin-bottom: 17px;
        @media all and (max-width: 1200px) {
            font-size: 48px;
        }
        @media all and (max-width: 900px) and (orientation: landscape) {
            font-size: 40px;
        }
        @media all and (max-width: 650px) {
            font-size: 36px;
        }
        @media all and (max-width: 500px) {
            font-size: 30px;
        }
        @media all and (max-width: 375px) {
            font-size: 25px;
        }
    }
    h2.first-slogan {
        margin-right: 63px;
        @media all and (max-width: 650px) {
            margin-right: 0;
        }
    }
    h2.second-slogan {
        margin-right: -7px;
    }
}

.wr-about-yoga {
    background: url("../media/img/bg-object.png") no-repeat;
    background-position: right -5px;
    background-size: contain;
    .custom-container {
        display: flex;
        justify-content: space-between;
        position: relative;
        padding-top: 30px;
        padding-bottom: 120px;
    }
}

.wr-description {
    max-width: 570px;
    padding-top: 69px;
    h1 {
        font-family: "Poppins Light", sans-serif;
        font-size: 48px;
        color: $main-color;
        font-weight: 100;
        margin-bottom: 8px;
        @media all and (max-width: 413px) {
            font-size: 36px;
        }
    }
    p {
        font-size: 14px;
        line-height: 24px;
        padding-right: 3px;
        margin-bottom: 42px;
    }
}

.video-container {
    width: 570px;
    height: 350px;
    border: solid 1px transparent;
    border-radius: 12px;
    overflow: hidden;
    box-sizing: border-box;
    position: relative;
    @media all and (max-width: 580px) {
        width: 100%;
    }
    &:hover .controls,
    &:hover .video-controls {
        bottom: 0;
        transition-duration: 0.4s;
    }
    video {
        height: 100%;
        width: 100%;
    }
    video[poster] {
        object-fit: cover;
    }
    .play-btn-main,
    .video-container__btn-main {
        height: 50px;
        width: 50px;
        background-image: url("../media/img/play-btn.png");
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .play-btn-main::after,
    .video-container__btn-main::after {
        content: "";
        height: 50px;
        width: 50px;
        border: solid 7px;
        border-color: rgba(255, 255, 255, 0.5);
        border-radius: 50%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        opacity: 0;
        transition-duration: 0.4s;
    }
    .play-btn-main:hover::after,
    .video-container__btn-main:hover::after {
        opacity: 1;
        cursor: pointer;
    }
    .button-main-hidden {
        display: none;
    }
    .controls,
    .video-controls {
        position: absolute;
        left: 0;
        bottom: -30px;
        width: 100%;
        height: 30px;
        background-color: rgba($color: #000000, $alpha: 0.3);
        transition-duration: 0.4s;
        button {
            height: 18px;
            width: 23px;
            background-repeat: no-repeat;
            background-size: contain;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
        }
    }
    .playpause {
        background-image: url("../media/img/play.png");
        left: 20px;
    }
    .play {
        background-image: url("../media/img/play.png");
        left: 20px;
    }
    .pause {
        background-image: url("../media/img/pause.png");
        left: 20px;
    }
    .sound-on {
        background-image: url("../media/img/volume.png");
        right: 20px;
    }
    .sound-off {
        background-image: url("../media/img/mute.png");
        right: 20px;
    }
    progress,
    .video-controls__progress {
        cursor: pointer;
        appearance: none;
        border: 1px solid #999;
        border-radius: 4px;
        width: 450px;
        height: 12px;
        background-size: auto;
        color: #7492ec;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 54px;
        @media all and (max-width: 580px) {
            width: 65%;
        }
    }
    progress::-webkit-progress-bar,
    .video-controls__progress::-webkit-progress-bar {
        background: transparent;
    }
    progress::-moz-progress-bar,
    .video-controls__progress::-moz-progress-bar {
        background: $main-color;
    }
    progress::-webkit-progress-value,
    .video-controls__progress::-webkit-progress-value {
        background: $main-color;
    }
}

.icon-container {
    min-width: 70px;
    min-height: 70px;
    border: 2px solid $main-color;
    box-sizing: border-box;
    border-radius: 50%;
    margin-right: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.wr-benefits {
    position: absolute;
    top: -73px;
    right: 15px;
}

.benefit-description-box {
    max-width: 374px;
    p {
        font-size: 14px;
        line-height: 24px;
    }
    h4 {
        font-family: "Poppins Medium", sans-serif;
        font-size: 18px;
        font-weight: 400;
        margin-bottom: 12px;
    }
}

.benefit-item-box {
    display: flex;
    margin-bottom: 52px;
    align-items: center;
}

.wr-practices {
    background-image: url("../media/img/bg-classes.png");
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    color: $main-color;
    .custom-container {
        padding-top: 115px;
        padding-bottom: 115px;
        background-image: url("../media/img/bg-classes-object.png");
        background-repeat: no-repeat;
        background-position: top;
    }
    h3 {
        font-size: 48px;
        color: $main-color;
        margin-bottom: 8px;
        text-align: center;
        margin-bottom: 66px;
    }
    .swiper-container {
        width: 100%;
    }
    .wr-slider {
        position: relative;
    }
    p {
        font-size: 13px;
        color: #999;
    }
    .swiper-slide {
        width: 270px;
        .img-container {
            margin-bottom: 30px;
            position: relative;
            height: 200px;
            width: 100%;
            box-shadow: 0 3px 20px rgba(0, 0, 0, 0.05), 0 0 7px 3px rgba(255, 255, 255, 0.35);
        }
        img {
            height: 100%;
            width: 100%;
            object-fit: cover;
            object-position: top;
        }
        .img-container::before {
            background-color: rgba(116, 146, 236, 0.4);
            content: "";
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            opacity: 0;
            transition-duration: 0.5s;
        }
        &:hover .img-container::before {
            opacity: 1;
        }
    }
}

.practice-name {
    &:hover h5 {
        color: $main-color;
    }
    h5 {
        font-family: "Poppins Medium", sans-serif;
        font-size: 18px;
        font-weight: 200;
        color: $link-color;
        line-height: 23px;
        height: 46px;
        overflow: hidden;
        text-overflow: ellipsis;
        margin-bottom: 13px;
    }
}

.practice-description {
    font-size: 14PX;
    color: #666;
    line-height: 24px;
}

.detailes {
    display: flex;
    align-items: center;
    margin-bottom: 14px;
    svg {
        margin-right: 12px;
    }
}

.clock {
    width: 12px;
    height: 12px;
    fill: $main-color;
}

.teacher {
    width: 12px;
    height: 14px;
    fill: $main-color;
}

.level {
    width: 12px;
    height: 13px;
    fill: $main-color;
}

.btn-left,
.btn-right {
    width: 9px;
    height: 14px;
    fill: $main-color;
}

.swiper-button-right {
    position: absolute;
    top: 20%;
    right: -3%;
    cursor: pointer;
}

.swiper-button-left {
    position: absolute;
    top: 20%;
    left: -3%;
    cursor: pointer;
}

.swiper-button-right:active,
.swiper-button-right:focus,
.swiper-button-left:active,
.swiper-button-left:focus {
    outline: none;
}

.wr-access {
    .custom-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 116px;
        padding-bottom: 120px;
    }
    h3 {
        font-size: 32px;
        color: #000000;
        margin-bottom: 19px;
    }
    p {
        max-width: 450px;
        line-height: 24px;
        font-size: 14px;
        color: #666;
        text-align: center;
        margin-bottom: 47px;
    }
    button {
        width: 300px;
        margin-bottom: 80px;
    }
}

.wr-access-img {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 270px);
    gap: 30px;
    .img-container {
        position: relative;
        &:nth-child(4) {
            grid-column-start: 1;
            grid-column-end: 3;
        }
        &:hover img {
            transform: scale(1.07);
        }
        a {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            &::before {
                content: "";
                background-color: rgba(116, 146, 236, 0.73);
                background-image: url(../media/img/zoom.png);
                background-repeat: no-repeat;
                background-position: center;
                background-size: 35px;
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                opacity: 0;
            }
        }
        &:hover a::before {
            opacity: 1;
            transition-duration: 0.6s;
        }
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            transition-duration: 0.8s;
        }
    }
}

.wr-teacher-introduction {
    background-image: url("../media/img/bg-teacher.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    .custom-container {
        padding-top: 138px;
        padding-bottom: 105px;
        display: flex;
        flex-direction: column;
        align-items: center;
        @media all and (max-width: 569px) {
            padding-bottom: 30px;
        }
    }
    h3 {
        font-size: 32px;
        color: #fff;
        text-transform: capitalize;
        margin-bottom: 20px;
    }
    p {
        max-width: 545px;
        line-height: 24px;
        font-size: 14px;
        color: #fff;
        text-align: center;
        margin-bottom: 53px;
    }
    span {
        font-family: "Poppins Medium", serif;
        font-size: 14px;
        text-transform: capitalize;
        color: #fff;
        margin-bottom: 20px;
    }
}

.wr-teacher-list {
    .custom-container {
        display: flex;
        padding-top: 120px;
        padding-bottom: 60px;
        flex-wrap: wrap;
        justify-content: space-between;
        @media all and (max-width: 569px) {
            padding-top: 30px;
        }
    }
    .teacher-item-box {
        display: flex;
        margin-bottom: 60px;
        @media all and (max-width: 569px) {
            margin-bottom: 20px;
        }
    }
    .info-container {
        width: 170px;
        padding-top: 16px;
        a {
            display: block;
            font-family: "Poppins SemiBold", sans-serif;
            font-size: 16px;
            margin-bottom: 6px;
            color: #000000;
            transition-duration: 0.2s;
            &:hover {
                color: rgb(126, 126, 126);
            }
        }
        p {
            font-size: 14px;
        }
        a,
        p {
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
        }
    }
    .img-container {
        width: 80px;
        height: 80px;
        border-radius: 50%;
        margin-right: 20px;
        position: relative;
    }
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: top;
    }
}

.wr-renewal {
    background-color: #f8f7fc;
    position: relative;
    .wr-renewal-description {
        margin-left: 16%;
        padding-top: 241px;
        padding-bottom: 194px;
        @media all and (max-width: 569px) {
            padding-top: 40px;
            padding-bottom: 40px;
        }
        h3 {
            font-size: 48px;
            color: $main-color;
            margin-bottom: 4px;
            @media all and (max-width: 569px) {
                font-size: 42px;
            }
        }
        p {
            max-width: 455px;
            font-size: 21px;
            line-height: 36px;
            color: $main-color;
            margin-bottom: 40px;
            @media all and (max-width: 569px) {
                font-size: 16px;
                line-height: 24px;
                margin-bottom: 20px;
            }
        }
        button {
            width: 213px;
        }
    }
    .wr-picture {
        height: 746px;
        position: absolute;
        bottom: 0;
        right: 15%;
        @media all and (max-width: 1120px) {
            right: 10px;
        }
        img {
            height: 100%;
            object-fit: contain;
        }
    }
}

.wr-companies-list {
    .custom-container {
        padding-top: 78px;
        padding-bottom: 78px;
    }
    .swiper-slide {
        width: 105px;
        height: 80px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
    }
    a {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
    }
}

.wr-intro {
    background: url("../media/img/about-us-background.png");
    background-repeat: no-repeat;
    background-position: bottom;
    @media all and (max-width: 850px) {
        background-size: cover;
    }
    .custom-container {
        padding-top: 140px;
        padding-bottom: 122px;
        @media all and (max-width: 320px) {
            padding-top: 120px;
            padding-bottom: 90px;
        }
    }
    h3 {
        font-size: 72px;
        color: $main-color;
        margin-bottom: 12px;
        @media all and (max-width: 645px) {
            font-size: 50px;
            text-align: left;
        }
        @media all and (max-width: 545px) {
            font-size: 40px;
        }
    }
    p {
        font-size: 14px;
        color: #99aff1;
        padding-left: 5px;
    }
}

.wr-about-information {
    .custom-container {
        display: flex;
        justify-content: space-between;
        padding-bottom: 175px;
        position: relative;
        @media all and (max-width: 850px) {
            flex-direction: column-reverse;
            align-items: center;
            padding-top: 10px;
            padding-bottom: 30px;
        }
    }
    .about-description {
        width: 525px;
        padding-top: 125px;
        @media all and (max-width: 1050px) {
            width: 450px;
            padding-top: 85px;
        }
        @media all and (max-width: 850px) {
            padding-top: 35px;
        }
        @media all and (max-width: 480px) {
            width: 100%;
        }
    }
    p {
        color: #666;
        font-size: 14px;
        line-height: 24px;
        &:nth-child(1) {
            margin-bottom: 25px;
        }
    }
    .img-container {
        position: absolute;
        right: 32px;
        top: -42px;
        width: 555px;
        height: 489px;
        background-image: url("../media/img/about-description-bg.jpg");
        background-repeat: no-repeat;
        background-size: contain;
        background-position: bottom;
        @media all and (max-width: 1024px) {
            right: 0;
        }
        @media all and (max-width: 850px) {
            position: static;
            height: 100%;
        }
        @media all and (max-width: 975px) {
            width: 450px;
            height: 420px;
        }
        @media all and (max-width: 895px) {
            width: 350px;
        }
        @media all and (max-width: 360px) {
            width: 100%;
        }
        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
            object-position: bottom;
        }
    }
}

.wr-quote {
    position: relative;
    z-index: -10;
    background-image: url("../media/img/quote-bg.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    .custom-container {
        padding-top: 165px;
        padding-bottom: 102px;
        display: flex;
        flex-direction: column;
        align-items: center;
        color: #fff;
        @media all and (max-width: 450px) {
            padding-top: 80px;
            padding-bottom: 70px;
        }
    }
    h4 {
        font-family: "Droid Serif Italic", serif;
        font-size: 24px;
        font-weight: 100;
        text-align: center;
        white-space: pre-wrap;
        max-width: 630px;
        margin-bottom: 47px;
        line-height: 35px;
    }
    p {
        font-family: "Poppins Medium", sans-serif;
        font-size: 14px;
    }
}

.wr-quote::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(116, 146, 236, .8);
    z-index: -10;
}

.wr-training-types {
    .custom-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        background-image: url("../media/img/training-types-bg.png");
        background-repeat: no-repeat;
        background-position: top center;
        padding-top: 120px;
        padding-bottom: 90px;
        @media all and (max-width: 950px) {
            justify-content: center;
        }
        @media all and (max-width: 768px) {
            padding-bottom: 20px;
        }
        @media all and (max-width: 450px) {
            padding-top: 65px;
            padding-bottom: 10px;
        }
    }
}

.training-type {
    width: 30%;
    @media all and (max-width: 950px) {
        width: 55%;
        margin-bottom: 40px;
    }
    @media all and (max-width: 650px) {
        width: 90%;
    }
    @media all and (max-width: 450px) {
        width: 100%;
    }
    .img-container {
        width: 100%;
        height: 270px;
        margin-bottom: 34px;
        position: relative;
    }
    .img-container::before {
        background-color: rgba(116, 146, 236, 0.4);
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        opacity: 0;
        transition-duration: 0.5s;
    }
    &:hover .img-container::before {
        opacity: 1;
    }
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    h5 {
        font-family: "Poppins Medium", sans-serif;
        font-size: 18px;
        font-weight: 200;
        color: $link-color;
        margin-bottom: 15px;
        &:hover {
            color: $main-color;
        }
    }
    p {
        font-size: 14px;
        color: #666;
        line-height: 24px;
    }
}

.wr-features {
    background-color: #e5eaf7;
    .custom-container {
        padding-top: 125px;
        padding-bottom: 120px;
        display: flex;
        flex-direction: column;
        align-items: center;
        @media all and (max-width: 768px) {
            padding-top: 60px;
            padding-bottom: 60px;
        }
    }
    .swiper-container {
        width: 600px;
        text-align: center;
        margin-bottom: 77px;
        @media all and (max-width: 625px) {
            width: 100%;
        }
        @media all and (max-width: 450px) {
            margin-bottom: 35px;
        }
        .swiper-slide {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;
            margin-bottom: 31px;
        }
        h5 {
            font-family: "Poppins SemiBold", sans-serif;
            font-size: 16px;
            color: $main-color;
            margin-bottom: 10px;
        }
        p {
            font-size: 16px;
            color: $link-color;
            margin-bottom: 23px;
            line-height: 24px;
        }
        .quote-author {
            font-size: 12px;
        }
        h6 {
            font-size: 14px;
            color: $main-color;
        }
        picture {
            width: 60px;
            height: 60px;
            display: block;
            border-radius: 50%;
            overflow: hidden;
            margin-bottom: 20px;
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: top;
            }
        }
    }
    .counter-box {
        width: 100%;
        display: flex;
        justify-content: space-between;
        text-align: center;
        .counter {
            font-family: "Droid Serif Regular", serif;
            font-size: 42px;
            color: $main-color;
            @media all and (max-width: 768px) {
                font-size: 32px;
            }
            @media all and (max-width: 360px) {
                font-size: 20px;
            }
            @media all and (max-width: 340px) {
                font-size: 18px;
            }
        }
        p {
            font-size: 14px;
            color: $link-color;
            margin-top: 11px;
            @media all and (max-width: 360px) {
                font-size: 10px;
            }
            @media all and (max-width: 340px) {
                font-size: 8px;
            }
        }
    }
}

.wr-promo-access {
    .custom-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 116px;
        padding-bottom: 113px;
        @media all and (max-width: 768px) {
            padding-top: 60px;
        }
        @media all and (max-width: 450px) {
            padding-top: 40px;
            padding-bottom: 40px;
        }
    }
    h3 {
        font-size: 32px;
        color: #000000;
        margin-bottom: 19px;
    }
    p {
        max-width: 450px;
        line-height: 24px;
        font-size: 14px;
        color: #666;
        text-align: center;
        margin-bottom: 47px;
    }
    button {
        width: 300px;
    }
}

.pricing-intro {
    @media all and (max-width: 991px) {
        background-size: cover;
    }
    .custom-container {
        padding-top: 140px;
        padding-bottom: 73px;
        @media all and (max-width: 991px) {
            padding-bottom: 90px;
        }
    }
    .pricing-text {
        max-width: 400px;
        line-height: 24px;
    }
}

.container {
    max-width: 1200px;
}

.wr-pricing-cards {
    .container {
        max-width: 1200px;
        padding-top: 130px;
        padding-bottom: 90px;
        @media all and (max-width: 991px) {
            padding-top: 60px;
            padding-bottom: 30px;
        }
        @media all and (max-width: 650px) {
            padding-top: 25px;
            padding-bottom: 10px;
        }
    }
}

.card-header {
    padding-left: 0;
    span {
        font-family: "Lato Regular", sans-serif;
    }
    .price {
        font-weight: 700;
        color: $main-color;
        font-size: 35px;
    }
    .price-details {
        color: #999;
        font-size: 14px;
        text-transform: capitalize;
    }
}

.card-body {
    padding-left: 0;
    padding-right: 22px;
    padding-top: 40px;
    padding-bottom: 30px;
    @media all and (max-width: 991px) {
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .card-title {
        font-family: "Poppins Regular", sans-serif;
        font-size: 14px;
        font-weight: 600;
        color: $main-color;
        text-transform: uppercase;
        padding-bottom: 4px;
    }
    .card-text {
        color: #999;
        font-size: 14px;
        line-height: 24px;
    }
}

.card-footer {
    padding-left: 0;
    padding-top: 40px;
    @media all and (max-width: 991px) {
        padding-top: 20px;
    }
    .btn {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 140px;
        height: 40px;
        background-color: $main-color;
        border: none;
        border-radius: 25px;
        text-transform: uppercase;
        font-size: 12px;
        font-weight: 600;
        &:hover,
        &:focus {
            background-color: $link-color;
        }
    }
}

.modal-dialog {
    h5 {
        color: $main-color;
    }
    .btn-primary {
        background-color: $main-color;
    }
}

.wr-pricing-renewal {
    background: url("../media/img/pricing-renewal-bg.jpg");
    background-size: cover;
    background-position: bottom;
    .container {
        padding-top: 165px;
        padding-bottom: 330px;
        @media all and (max-width: 650px) {
            padding-top: 100px;
            padding-bottom: 100px;
        }
        @media all and (max-width: 450px) {
            padding-top: 50px;
            padding-bottom: 50px;
            text-align: center;
        }
    }
    h3 {
        font-size: 48px;
        color: $main-color;
        margin-bottom: 4px;
        @media all and (max-width: 450px) {
            font-size: 38px;
        }
    }
    p {
        max-width: 455px;
        font-size: 14px;
        line-height: 24px;
        color: $main-color;
        margin-bottom: 36px;
    }
    button {
        width: 213px;
    }
}

.custom-list {
    margin-top: 0;
    margin-bottom: 0;
}

.wr-training-intro {
    background: url("../media/img/about-us-background.png");
    background-position: bottom;
    &__custom-container {
        padding-top: 182px;
        padding-bottom: 100px;
        @media all and (max-width: 900px) {
            padding-top: 70px;
            padding-bottom: 40px;
        }
        @media all and (max-width: 853px) {
            padding-top: 20%;
        }
        @media all and (max-width: 570px) {
            padding-top: 25%;
        }
        @media all and (max-width: 485px) {
            padding-top: 30%;
        }
    }
    @media all and (max-width: 900px) {
        height: 400px;
        background-size: cover;
    }
    @media all and (max-width: 700px) {
        height: 320px;
    }
    @media all and (max-width: 540px) {
        height: 280px;
    }
}

.headline__heading {
    font-size: 29px;
    color: $main-color;
    font-weight: 600;
    margin-bottom: 10px;
    @media all and (max-width: 570px) {
        font-size: 24px;
        text-align: left;
    }
    @media all and (max-width: 485px) {
        font-size: 20px;
    }
}

.headline__text {
    max-width: 410px;
    font-size: 14px;
    color: #99aff1;
    line-height: 24px;
    @media all and (max-width: 485px) {
        font-size: 12px;
    }
}

.wr-trainig-info__custom-container {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 120px;
    @media all and (max-width: 900px) {
        flex-direction: column-reverse;
        align-items: center;
        padding-top: 50px;
        padding-bottom: 40px;
    }
    @media all and (max-width: 500px) {
        padding-top: 40px;
    }
}

.training-info {
    display: flex;
    flex-direction: column;
    padding-top: 113px;
    @media all and (max-width: 1024px) {
        margin-right: 15px;
    }
    @media all and (max-width: 900px) {
        margin: 0;
        padding: 0;
    }
}

.training-info__list {
    display: flex;
    padding-left: 0;
    max-width: 470px;
    justify-content: space-between;
    margin-bottom: 20px;
}

.training-info__item {
    display: flex;
    justify-content: center;
}

.training-info-item__svg {
    height: 12px;
    fill: $main-color;
    margin-right: 14px;
    @media all and (max-width: 425px) {
        height: 11px;
        margin-right: 7px;
    }
    @media all and (max-width: 340px) {
        height: 10px;
        margin-right: 5px;
    }
}

.training-info-item__text {
    font-family: "Lato Regular", sans-serif;
    font-size: 13px;
    color: #999;
    @media all and (max-width: 425px) {
        font-size: 11px;
    }
    @media all and (max-width: 340px) {
        font-size: 10px;
    }
}

.training-info__text {
    max-width: 500px;
    font-size: 14px;
    color: #666;
    line-height: 24px;
}

.wr-training-info__video-container {
    @media all and (max-width: 900px) {
        margin-bottom: 20px;
    }
}

.wr-trainig-benefits {
    background-color: #f1f3f8;
    &__custom-container {
        background-image: url("../media/img/bg-classes-object.png");
        background-repeat: no-repeat;
        background-position: top center;
        padding-top: 120px;
        padding-bottom: 120px;
        @media all and (max-width: 570px) {
            padding-top: 100px;
            padding-bottom: 40px;
        }
    }
}

.wr-trainig-benefits__title,
.wr-related__title {
    text-align: center;
    color: $main-color;
    font-size: 48px;
    margin-bottom: 60px;
    @media all and (max-width: 570px) {
        margin-bottom: 25px;
        font-size: 40px;
    }
}

.benefit-box {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 180px);
    gap: 30px;
    @media all and (max-width: 1020px) {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(5, 180px);
    }
    @media all and (max-width: 570px) {
        gap: 20px;
    }
}

.benefit {
    background-color: #fff;
    border-radius: 5px;
    max-width: 370px;
    height: 180px;
    padding: 42px 35px;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, .1);
    transition-duration: 0.3s;
    box-sizing: border-box;
    &__title {
        font-family: "Poppins Medium", sans-serif;
        font-size: 18px;
        margin-bottom: 11px;
        line-height: 22px;
    }
    &__text {
        font-size: 14px;
        color: #666;
        line-height: 24px;
    }
    &:hover {
        background-color: $main-color;
        .benefit__title,
        .benefit__text {
            color: #fff;
        }
    }
    @media all and (max-width: 1020px) {
        max-width: 70%;
        margin: 0 auto;
    }
    @media all and (max-width: 768px) {
        max-width: 100%;
    }
}

.wr-related__custom-container {
    background-image: url("../media/img/bg-classes-object.png");
    background-repeat: no-repeat;
    background-position: top center;
    padding-top: 120px;
    padding-bottom: 120px;
    @media all and (max-width: 570px) {
        padding-bottom: 10px;
    }
}

.wr-slider {
    position: relative;
}

.btn-icon {
    width: 9px;
    height: 14px;
    fill: $main-color;
}

.wr-slider__btn-right {
    position: absolute;
    top: 20%;
    right: -3%;
    cursor: pointer;
}

.wr-slider__btn-left {
    position: absolute;
    top: 20%;
    left: -3%;
    cursor: pointer;
}

.wr-slider__btn-right:active,
.wr-slider__btn-right:focus,
.wr-slider__btn-left:active,
.wr-slider__btn-left:focus {
    outline: none;
}

@media all and (max-width: 1250px) {
    .wr-slider__btn-right {
        right: 3px;
        z-index: 10;
    }
    .wr-slider__btn-left {
        left: 3px;
        z-index: 10;
    }
}

a:hover {
    text-decoration: none;
}

.swiper-slide-detailes__text {
    font-family: "Lato Regular", sans-serif;
    font-size: 13px;
    color: #999;
}

.swiper-slide {
    width: 270px;
    &:hover .swiper-slide__img-container::before {
        opacity: 1;
    }
}

.swiper-slide__img-container {
    margin-bottom: 30px;
    position: relative;
    height: 200px;
    width: 100%;
    overflow: hidden;
    border-radius: 5px;
    box-shadow: 0 3px 20px rgba(0, 0, 0, 0.05), 0 0 7px 3px rgba(255, 255, 255, 0.35);
}

.swiper-slide__image {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: top;
}

.swiper-slide__img-container::before {
    background-color: rgba(116, 146, 236, 0.4);
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
    transition-duration: 0.5s;
}

.swiper-slide__link {
    &:hover .swiper-slide__title {
        color: $main-color;
    }
}

.swiper-slide__title {
    font-family: "Poppins Medium", sans-serif;
    font-size: 18px;
    font-weight: 200;
    color: $link-color;
    line-height: 23px;
    height: 46px;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 13px;
}

.swiper-slide__description {
    font-size: 14PX;
    color: #666;
    line-height: 24px;
}

.swiper-slide-detailes {
    display: flex;
    align-items: center;
    margin-bottom: 14px;
}

.swiper-slide-detailes__icon {
    width: 12px;
    height: 12px;
    fill: $main-color;
    margin-right: 12px;
}

.wr-contact-intro {
    background: url("../media/img/about-us-background.png") bottom;
    position: relative;
    @media all and (max-width: 1180px) {
        background-size: cover;
    }
    .custom-container {
        padding-top: 137px;
        padding-bottom: 75px;
        @media all and (max-width: 1180px) {
            padding-top: 70px;
        }
        @media all and (max-width: 854px) {
            padding-top: 90px;
        }
    }
    h3 {
        font-family: "Poppins Light", sans-serif;
        font-size: 72px;
        color: $main-color;
        margin-bottom: 6px;
        @media all and (max-width: 854px) {
            font-size: 55px;
        }
        @media all and (max-width: 640px) {
            text-align: left;
        }
        @media all and (max-width: 470px) {
            font-size: 45px;
        }
    }
    p {
        max-width: 395px;
        color: #99aff1;
        font-size: 14px;
        line-height: 24px;
        @media all and (max-width: 470px) {
            max-width: 255px;
            font-size: 12px;
        }
    }
    .wr-contact-img {
        width: 100%;
        height: 770px;
        position: absolute;
        top: 26%;
        background: url("../media/img/contact-flower.png") no-repeat 108%;
        z-index: -5;
        @media all and (max-width: 1000px) {
            background-position: top center;
            background-size: contain;
        }
        @media all and (max-width: 750px) {
            top: 55%;
        }
        @media all and (max-width: 550px) {
            top: 65%;
        }
    }
}

.wr-contact-info .custom-container {
    padding-top: 120px;
    padding-bottom: 120px;
    display: flex;
    justify-content: space-between;
    @media all and (max-width: 854px) {
        padding-top: 60px;
        padding-bottom: 60px;
    }
    @media all and (max-width: 767px) {
        flex-direction: column;
    }
    @media all and (max-width: 530px) {
        padding-top: 45px;
        padding-bottom: 45px;
    }
}

.contact-us-form {
    max-width: 570px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    @media all and (max-width: 1180px) {
        margin-right: 15px;
    }
    @media all and (max-width: 767px) {
        min-width: 100%;
        margin-bottom: 60px;
    }
    @media all and (max-width: 530px) {
        margin-bottom: 40px;
    }
    input {
        width: 100%;
        height: 100%;
        border: none;
        padding: 20px 15px;
        box-sizing: border-box;
        &:focus {
            outline: none;
        }
        &::placeholder {
            font-family: "Lato Regular", sans-serif;
            font-size: 13px;
            color: #999;
        }
    }
    textarea {
        width: 100%;
        height: 100%;
        padding: 20px 0 0 15px;
        box-sizing: border-box;
        border: none;
        resize: none;
        &:focus {
            outline: none;
        }
        &::placeholder {
            font-family: "Lato Regular", sans-serif;
            font-size: 13px;
            color: #999;
        }
    }
    .btn-submit {
        width: 100%;
        height: 50px;
        background-color: $main-color;
        border-radius: 5px;
        font-family: "Poppins Semibold", sans-serif;
        letter-spacing: 3px;
        font-size: 13px;
        text-transform: uppercase;
        color: #fff;
    }
}

.wr-input {
    width: 268px;
    height: 47px;
    border: 1px solid #eee;
    border-radius: 5px;
    margin-bottom: 30px;
    position: relative;
    &:focus-within {
        border: solid 2px $main-color;
    }
    @media all and (max-width: 1180px) {
        width: 47%;
    }
    @media all and (max-width: 530px) {
        margin-bottom: 15px;
        width: 100%;
    }
}

.message-box {
    width: 100%;
    height: 207px;
    border: 1px solid #eee;
    border-radius: 5px;
    &:focus-within {
        border: solid 2px $main-color;
    }
    @media all and (max-width: 1180px) {
        width: 100%;
    }
}

.error {
    font-family: "Lato Regular", sans-serif;
    font-size: 11px;
    color: #eb0000;
    display: none;
    position: absolute;
    bottom: -17px;
}

.show-error .error {
    display: block;
}

.show-error {
    border: 2px solid #eb0000;
}

.wr-address {
    @media all and (max-width: 1180px) {
        min-width: 40%;
    }
    iframe {
        width: 570px;
        height: 270px;
        border: none;
        margin-bottom: 26px;
        @media all and (max-width: 1180px) {
            width: 100%;
        }
    }
}

.address-text {
    display: flex;
    flex-direction: column;
    max-width: 195px;
    h6 {
        font-family: "Poppins Semibold", sans-serif;
        font-size: 14px;
        margin-bottom: 18px;
    }
    p {
        font-family: "Poppins Regular", sans-serif;
        font-size: 12px;
        line-height: 24px;
        margin-bottom: 18px;
        color: #666;
    }
    a {
        font-family: "Poppins Regular", sans-serif;
        font-size: 12px;
    }
    .email-link {
        margin-bottom: 23px;
        color: #666;
    }
    .tel-link {
        color: $main-color;
    }
}

.wr-error {
    height: 100vh;
    background-image: url(../media/img/404.png);
    background-size: 63%;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    a {
        display: flex;
        align-items: center;
        font-family: "Poppins Semibold", sans-serif;
        color: $link-color;
        position: absolute;
        bottom: 5%;
        left: 50%;
        transform: translateX(-50%);
        svg {
            position: absolute;
            left: -30px;
            height: 20px;
            width: 20px;
            fill: $link-color;
        }
        &:hover {
            color: $main-color;
        }
        &:hover svg {
            fill: $main-color;
        }
    }
}

.modal-container {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 100;
    display: none;
    .modal-item {
        position: absolute;
        top: 20%;
        left: 50%;
        transform: translatex(-50%);
        width: 26%;
        height: 60%;
        background-color: #f1f3f8;
        border-radius: 25px;
        box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, .6);
        h5 {
            width: 100%;
            text-align: center;
            font-family: "Poppins Bold", sans-serif;
            font-size: 20px;
            color: $main-color;
            text-transform: uppercase;
            position: absolute;
            top: 20%;
            left: 50%;
            transform: translateX(-50%);
        }
        span {
            position: absolute;
            top: 3%;
            right: 7%;
            font-size: 25px;
            font-weight: 600;
            color: $main-color;
            cursor: pointer;
            &:hover {
                color: $link-color;
            }
        }
        button {
            font-family: "Lato Regular", sans-serif;
            width: 20%;
            height: 8%;
            border-radius: 5px;
            background-color: $main-color;
            position: absolute;
            bottom: 7%;
            right: 7%;
            color: #fff;
            text-transform: uppercase;
            box-shadow: 0px 0px 5px 2px rgba(116, 146, 236, .4);
            transition-duration: 0.2s;
            &:hover {
                background-color: $link-color;
            }
        }
        p {
            position: absolute;
            top: 32%;
            left: 50%;
            transform: translateX(-50%);
            text-align: center;
            color: $link-color;
            line-height: 26px;
            font-size: 19px;
            width: 75%;
            a {
                color: $main-color;
                font-weight: 600;
                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
}

.show-modal {
    display: block;
}

.overflow {
    overflow: hidden;
}

@media all and (max-width: 1250px) {
    .wr-access-img {
        grid-gap: 15px;
    }
    .wr-practices .swiper-button-right {
        right: 3px;
        z-index: 10;
    }
    .swiper-button-left {
        left: 3px;
        z-index: 10;
    }
}

@media all and (max-width: 1190px) {
    .wr-access-img {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 270px);
        .img-container:nth-child(5) {
            grid-row: 2;
            grid-column: 2;
        }
    }
}

@media all and (max-width: 585px) {
    .wr-access-img {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(5, 270px);
        .img-container:nth-child(4) {
            grid-row: 5;
            grid-column: 1;
        }
        .img-container:nth-child(5) {
            grid-column: 1;
        }
    }
}

@media all and (max-width: 1075px) {
    .wr-about-yoga {
        .custom-container {
            flex-direction: column;
            align-items: center;
            padding-bottom: 30px;
        }
        .wr-benefits {
            position: static;
        }
    }
    .wr-description {
        padding-top: 0px;
        margin-bottom: 40px;
    }
    .benefit-item-box {
        margin-bottom: 20px;
    }
    .wr-practices {
        .custom-container {
            padding-bottom: 30px;
        }
    }
    .wr-access {
        .custom-container {
            padding-top: 60px;
            padding-bottom: 60px;
        }
    }
}

@media all and (max-width: 969px) {
    .wr-contact-form {
        flex-direction: column;
        align-items: flex-start;
        padding-left: 10px;
        .wr-contact-form-text {
            margin-bottom: 20px;
        }
        form {
            margin-left: 0;
            padding-left: 0;
        }
    }
    .wr-other-details .custom-container {
        flex-wrap: wrap;
    }
    .wr-contact-us,
    .wr-useful-links,
    .wr-open-hours,
    .wr-location {
        width: 50%;
    }
}

@media all and (max-width: 900px) {
    .wr-renewal {
        .wr-picture {
            display: none;
        }
        .wr-renewal-description {
            padding-top: 70px;
            padding-bottom: 70px;
            margin: 0;
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            h3 {
                font-size: 36px;
            }
            p {
                font-size: 16px;
            }
        }
    }
    .wr-companies-list {
        .custom-container {
            padding-top: 40px;
            padding-bottom: 40px;
        }
    }
}

@media all and (max-width: 768px) {
    .wr-teacher-introduction {
        .custom-container {
            padding-top: 80px;
            padding-bottom: 60px;
        }
    }
    .wr-teacher-list {
        .custom-container {
            padding-top: 60px;
            padding-bottom: 30px;
        }
        .teacher-item-box {
            margin-bottom: 30px;
        }
    }
}

@media all and (max-width: 640px) {
    h3 {
        text-align: center;
    }
}

@media all and (max-width: 575px) {
    .wr-contact-us,
    .wr-useful-links,
    .wr-open-hours,
    .wr-location {
        width: 100%;
        margin-bottom: 20px;
    }
    .wr-location iframe {
        min-width: 100%;
    }
}